<%- include("header") -%>

<main>
  <div style="display: flex;" >
    
    <div class="col-lg-6 mx-auto" style="margin-top: 0; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <h1 class="display-5 fw-bold"  style="font-size: 400%;">Repository Notes</h1>
      <p class="lead mb-4">
        This CRUD App is developed using Node JS, Express, EJS, Sequelize,
        Bcrypt, JWT, cookie-parser, and Postgres database.
      </p>

      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a
          type="button"
          class="btn btn-primary btn-lg px-4 gap-3"
          href="/signin"
          style="background-color: #363062; color: #ffffff; border: none"
          >Sign In</a
        >
        
        <a type="button" class="btn btn-lg px-4 btn-dark" href="/signup"
          >Sign Up</a
        >
      </div>
    </div>

    <img
      class="d-block mx-auto mb-4"
      src="./images/globe.png"
      alt=""
      width="60%"
      height="60%"
    />
  </div>
</main>

<%- include("footer") -%>
